body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: rgba(69, 160, 73, 0.25);
}

#content {
    margin-top: 20px;
}

#utilization, #box, #box_table {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}